*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    
}
h1{
    position: relative;
    bottom: 10vw;
    font-size: 10vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    background-color: black;
    height: 7.2vh;
    width:20%;
    border-radius: 4rem;
    
}
.container .circle{
    background-color: white;
    height:90%;
    width:16%;
    position: relative;
    left:1.5%;
    top:0.18rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.container .circle:hover{
    cursor: pointer;
}
.container .move{
    position: relative;
    left:83%;
    background-color: black;
    
}
.color{
    background-color: black;
    color: white;
}
.change{
    background-color: white;
}